.add-button {
    position: absolute;
    margin: 20px;
    right: 0;
    bottom: 0;
}
.add-item-card {
    width: 90%;
    height: 320px;
    display: grid;
    grid-column: 1fr;
    grid-template-rows: 60px 1fr 60px;
}
.add-item-title {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end;
    justify-self: center;
}
.add-item-form {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.add-item-button-box {
    position: relative;
    width: calc(100% - 10px);
    display: flex;
    justify-content: flex-end;
    align-self: center;
    display: flex;
    
}
